
.image-container{
    overflow: hidden;
    border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
}

.letter{
  letter-spacing: 14px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  .bounce {
    animation: bounce 1s infinite; 
  }